{% extends "base_profile.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Profile Page - {{ user.username }}</title>
{% endblock %}

{% block body %}
<h3 class="display-5" style="text-align: right;">
    Edit Profile <a href="{{ url_for('edit_profile') }}"><img src="/static/img/button.png" alt="button" style="width: 40px;"></a>
</h3>
<hr class="my-4">
<img src="/static/img/sample_avatar.png" class="img-fuild rounded mx-auto d-block">
<h1 class="display-3">{{ user.firstname }} {{ user.lastname }}</h1>
<h1 class="display-3">@{{ user.username }}</h1>
<hr class="my-4">
<p>{{ user.bio }}</p>
<hr class="my-4">
<div class="container">
    <form action="{{ url_for('profile') }}" class="form-group" method="POST">
        <h3 class="display-3">Post PyTweet:</h3>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.tweet) }}
        <button class="btn btn-lg btn-primary" type="submit">Post</button>
    </form>
</div>
<hr class="my-4">
<div class="container">
    {% for tweet, username in tweet_group %}
    <div id="tweet-{{ tweet.tweet_id }}" class="container" style="border:solid 1px rgb(98, 110, 124); background-color: rgb(184, 184, 107); box-shadow: 0 0 10px rgba(56, 64, 98, 0.6); border-radius: 20px; margin-top: 10px;">
        <a href="{{ url_for('delete_tweet', tweet_id=tweet.tweet_id) }}">
            <img class="delete-button" src="/static/img/delete_button.png" alt="gominbako" style="float: right; width: 20px; margin-top: 5px;">
        </a>
        <h3 class="display-5" style="margin-top: 10px"></h3>@{{ username }}</h3>
        <p style="font-size: 20px;">{{ tweet.tweet }}</p>
        <hr class="my-4">
        <p><strong>Post On:</strong>{{ tweet.datetime_created }}</p>
    </div>
    {% endfor %}
    {% if look_tweet_id %}
        <script>
            document.getElementById('{{ look_tweet_id }}').scrollIntoView();
        </script>
    {% endif %}
</div>
{% endblock %}