{% extends "base.html" %}

{% block title %}
<title>Pytweet Home</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Welcom to Pytweet!</h1>
    <p class="lead">Pytweet is a simple Twitter Web Application. Enjoy!</p>
    <hr class="my-4">
    <p>Powered bt Python Flask</p>
    <p class="lead">
        <a href="/" class="btn btn-primary btn-lg" role="button">Login</a>
        <a href="/" class="btn btn-primary btn-lg" role="button">Register</a>
    </p>
</div>
{% endblock %}